# Para trabajar solo con la persistencia simulada en JavaScript:
VITE_USE_BACKEND=false

# Para conectar el frontend con el backend Spring Boot:
# VITE_USE_BACKEND=true
# VITE_API_URL=http://localhost:8083
VITE_API_URL=http://localhost:8083
